# Data Analytics - Lab4 Simple model
Author: Piotr Roszkowski

In [5]:
# Imports
import sys
sys.path.append('../')
import pystan
import stan_utility
import arviz as az
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd

# Color for plot formating
black = "#000000"

### Provided data:

In [9]:
year = [1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985]
fatalAccidents = [24, 25, 31, 31, 22, 21, 26, 20, 16, 22]
passengerDeaths = [734, 516, 754, 877, 814, 362, 764, 809, 223, 1066]
deathRate = [0.19, 0.12, 0.15, 0.16, 0.14, 0.06, 0.13, 0.13, 0.03, 0.15]
milesFlown = [3863, 4300, 5027, 5481, 5814, 6033, 5877, 6223, 7433, 7107]
data = dict(Year = year, 
            FatalAccidents = fatalAccidents,
            PassengerDeaths = passengerDeaths,
            DeathRate = deathRate,
            MilesFlown = milesFlown)
deathsData = pd.DataFrame(data)
deathsData

   Year  FatalAccidents  PassengerDeaths  DeathRate  MilesFlown
0  1976              24              734       0.19        3863
1  1977              25              516       0.12        4300
2  1978              31              754       0.15        5027
3  1979              31              877       0.16        5481
4  1980              22              814       0.14        5814
5  1981              21              362       0.06        6033
6  1982              26              764       0.13        5877
7  1983              20              809       0.13        6223
8  1984              16              223       0.03        7433
9  1985              22             1066       0.15        7107

## EXERCISE 1
1. The rate is constant for all years and not depending on anything:

## EXERCISE 2
1. The rate is constant for all years and not depending on anything: